* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 2.5em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 25px;
    font-size: 18px;
}